body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.boxlist img{
	width: 100%;
	max-height: 255px;
}
.bookInfo{
	height: 62px;
	overflow: hidden;
	word-break: break-all;
}