nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#bs-btn1')
        span.sr-only 
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') 书库
    .collapse.navbar-collapse#bs-btn1
      ul.nav.navbar-nav
        li.active
          a(href='/') 首页
        li
          a(href='/detail') 详情
        li.dropdown
          a.dropdown-toggle(href='#' data-toggle='dropdown') 分类
            span.caret
          ul.dropdown-menu(role='menu')
            li: a(href='/HTML5') HTML5
            li: a(href='/CSS3') CSS3
            li: a(href='/javascript') javascript
            li: a(href='/PHP') PHP
            li: a(href='/node') node.js
            li.divider
            li: a(href='/addbook') 添加
            li: a(href='/adminBooks') 管理书籍


